# cache and Nextflow
.DS_Store
.cache
.idea
nextflow
work
.nextflow*
.vscode
simple_ex/results
simple_ex/transcript-index
vc_workflow/results

# testing
sandbox
simple_ex/sandbox
vca_ex/test_data